{% extends 'base.html.twig' %}

{% block title %}Hello User!{% endblock %}

{% block body %}
    <style>
    .table-title
    {
        width: 150px;
        height: 30px;
        background-color: darkgrey;
        color: white;
        padding: 2px;
        border: 1px black solid;
        text-align: center;
    }
    .table-row
    {
        text-align: center;
        background-color: white;
        color: black;
    }
    </style>
    <table>
        <tr>
            <th class="table-title">
                Conference Title
            </th>
            <th class="table-title">
                Note
            </th>
        </tr>
    {% for conference in conferences %}
        <tr>
            <td class="table-row">
                {{ conference.title }}
            </td>
            <td class="table-row">
                {{ conference.description }}
            </td>
        </tr>

    {% endfor %}
    </table>
{% endblock %}
